@model IEnumerable<Lab2.Pre.Models.Pren>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pr_prennr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_fnamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_efternamn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_telefonnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_utadress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_postnr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pr_ort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pr_prennr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_fnamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_efternamn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_telefonnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_utadress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_postnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pr_ort)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
